@media (max-width:870px ) {
    .tabs {
        font-size: 12px;
    }
}

@media (max-width:750px) {
    .tabs {
        gap: 15px;
    }
}

@media (max-width:660px) {
    .tabs {
        gap: 10px;
        font-size: 10px;
    }
}