input::placeholder {
    font-size: 12px;
    font-style: italic;
}

@media (max-width:635px) {
    .tittle-login {
        font-size: 17px;
    }
}

@media (max-width:600px) {
    .abstrack-bg {
        width: 250px;
    }
}

@media (max-width:555px) {
    .abstrack-bg {
        width: 200px;
    }

    .tittle-login {
        font-size: 15px;
    }
}

@media (max-width:500px) {
    .abstrack-bg {
        width: 150px;
    }

    .tittle-login {
        font-size: 15px;
    }
}

@media (max-width:400px) {
    .abstrack-bg {
        width: 100px;
    }
}

@media (max-width:330px) {
    .abstrack-bg {
        display: none;
    }

    .form-login {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}