@media (max-width:720px) {
    .sidebar {
        width: 150px;
    }

    .menu-link {
        font-size: 10px;
    }
}

@media (max-width:520px) {
    .icon-teks {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; 
    }

    .sidebar {
        width: 60px;
    }

    .icon-link {
        font-size: 20px;
        margin-left: 10px;
    }

    .menu-link {
        display: none;
    }
    
    .text-logo {
        display: none;
    }

}