@media (max-width:1070px) {
    .account-container {
        flex-direction: column;
        align-items: center;
    }

    .account-right {
        margin-top: 10px;
    }
}

@media (max-width:635px) {
    .title-account {
        font-size: 30px;
    }
}

@media (max-width:555px) {
    .title-account {
        font-size: 20px;
    }

    .profile {
        width: 70px;
    }
}

@media (max-width:650px) {
    .teks-address {
        width: 200px;
    }
}

@media (max-width:500px) {
    .back-img {
        height: 80px;
    }

    .account-left {
        margin-top: 120px;
    }

    ::placeholder {
        font-size: 12px;
    }
}

@media (max-width:400px) {
    .account-container {
        background-color: transparent;
    }

    .input-account {
        width: 200px;
    }
}

@media (max-width:380px) {
    .teks-address {
        width: 150px;
    }

    .teks-birht {
        width: 150px;
    }

    .input-account {
        width: 150px;
    }
}

@media (max-width:460px) {
    .title-edit {
        font-size: 15px;
    }
}