@media (max-width:445px) {
    .title {
        font-size: 30px;
    }

    .icon-text {
        width: 39px;
        font-size: 20px;
    }

    .text-link {
        display: none;
    }
}

@media (max-width:300px) {
    .title {
        font-size: 20px;
    }
}









